@model WorkoutDiary.ViewModels.WorkoutViewModel
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Workouts"))
{
    @Html.ValidationSummary(true, "Please fix the following errors:")
    @Html.AntiForgeryToken()

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal well bs-component" style="width: 31%; margin-right: 15px">
        <div style="margin-left: 15px">
            <div class="form-group">

                @Html.LabelFor(m => m.Workout.WorkoutTypeId)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-running"></i>
                    </div>
                    @Html.DropDownListFor(m => m.Workout.WorkoutTypeId, new SelectList(Model.WorkoutTypes, "Id", "Name"), "Select a workout type", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.WorkoutTypeId)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Workout.Date)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Workout.Date, "{0:yyyy.MM.dd}", new { @class = "form-control", @id = "Datefield", })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.Date)
            </div>

            <br />
            <div class="form-group">
                <div>
                    @Html.ActionLink("Back to List", "Index", "Workouts", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Save" class="btn btn-primary" style="float: right; margin-right: 11px" />
                </div>
            </div>
        </div>

        @*<form role="form">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-running"></i>
                    </div>
                    @Html.DropDownListFor(m => m.Workout.WorkoutTypeId, new SelectList(Model.WorkoutTypes, "Id", "Name"), "Select a workout type", new { @class = "form-control" })

            </form>*@
    </div>
    @Html.HiddenFor(w => w.Workout.Id)
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#Datefield').datepicker({
                dateFormat: "yy.mm.dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                firstDay: 1
            });

        });
    </script>
}
