@model WorkoutDiary.ViewModels.WorkoutViewModel
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Workouts"))
{
    @Html.ValidationSummary(true, "Please fix the following errors:")
    @Html.AntiForgeryToken()

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal well bs-component" style="width: 31%; margin-right: 15px">
        <div style="margin-left: 15px">
            <div class="form-group">

                @Html.LabelFor(m => m.Workout.WorkoutTypeId)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-running"></i>
                    </div>
                    @Html.DropDownListFor(m => m.Workout.WorkoutTypeId, new SelectList(Model.WorkoutTypes, "Id", "Name"), "Select a workout type", new { @class = "form-control", @id = "dropdownlist" })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.WorkoutTypeId)
            </div>
            <script type="text/javascript">
                $("#dropdownlist").change(function () {
                    var selected = $(this).val()
                    $.ajax({
                        url: "/api/workouttypes",
                        dataSrc: "",
                        success: function (data) {
                            $.each(data, function (index, value) {
                                if (selected == value.Id) {
                                    if (!value.hasDuration) {
                                        $("#durationDiv").slideUp();
                                    }
                                    if (!value.hasDistance) {
                                        $("#distanceDiv").slideUp();
                                    }
                                    if (value.hasDuration) {
                                        $("#durationDiv").slideDown();
                                    }
                                    if (value.hasDistance) {
                                        $("#distanceDiv").slideDown();
                                    }
                                }
                            });                            
                        }
                    })
                });

            </script>
            <div class="form-group">
                @Html.LabelFor(m => m.Workout.Date)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Workout.Date, "{0:yyyy.MM.dd}", new { @class = "form-control", @id = "Datefield", })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.Date)
            </div>
            <div class="form-group" id="durationDiv">
                @Html.LabelFor(m => m.Workout.TimeInterval)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-stopwatch"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Workout.TimeInterval, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.TimeInterval)
            </div>

            <div class="form-group" id="distanceDiv">
                @Html.LabelFor(m => m.Workout.Distance)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-ruler-horizontal"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Workout.Distance, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.Distance)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Workout.Description)
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-bars"></i>
                    </div>
                    @Html.TextAreaFor(m => m.Workout.Description, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Workout.Description)
            </div>

            <br />
            <div class="form-group">
                <div>
                    @Html.ActionLink("Back to List", "Index", "Workouts", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Save" class="btn btn-primary" style="float: right; margin-right: 11px" />
                </div>
            </div>
        </div>

        @*<form role="form">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-running"></i>
                    </div>
                    @Html.DropDownListFor(m => m.Workout.WorkoutTypeId, new SelectList(Model.WorkoutTypes, "Id", "Name"), "Select a workout type", new { @class = "form-control" })

            </form>*@
    </div>
    @Html.HiddenFor(w => w.Workout.Id)
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#Datefield').datepicker({
                dateFormat: "yy.mm.dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                firstDay: 1
            });
            var selected = $("#dropdownlist").val()
            console.log("pageloaad");
            console.log(selected);

            $.ajax({
                url: "/api/workouttypes",
                dataSrc: "",
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (selected == value.Id) {
                            if (!value.hasDuration) {
                                $("#durationDiv").hide();
                            }
                            if (!value.hasDistance) {
                                $("#distanceDiv").hide();
                            }
                            if (value.hasDuration) {
                                $("#durationDiv").show();
                            }
                            if (value.hasDistance) {
                                $("#distanceDiv").show();
                            }
                        }
                    });
                }
            });
        });
    </script>
}
