@model WorkoutDiary.ViewModels.WorkoutViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Workouts"))
{
    @Html.ValidationSummary(true, "Please fix the following errors:")
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(m => m.Workout.WorkoutTypeId)
            @Html.DropDownListFor(m => m.Workout.WorkoutTypeId, new SelectList(Model.WorkoutTypes, "Id", "Name"), "Select a workout type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Workout.WorkoutTypeId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Workout.Date)
            @Html.TextBoxFor(m => m.Workout.Date, "{0:yyyy.MM.dd}", new { @class = "form-control", @id="Datefield"})
            @Html.ValidationMessageFor(m => m.Workout.Date)
        </div>

        <div class="form-group">
            <div>
                @Html.ActionLink("Back to List", "Index", "Workouts", null, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary col-md-offset-2" />
            </div>
            <div>

            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#Datefield').datepicker({
                dateFormat: "yy.mm.dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}
